// COLORS
$backgroundcolorDefault: rgba(0,0,0,0.9);
$colorDefaultLight:hsla(0,0%,100%,0.9);
$colorDefaultDark: rgba(0,0,0,0.9);

// TEXT
$marginDefault: 12px;
$margin35: 35px;
$margin50: 50px;
$margin120: 120px;