@import '@/assets/scss/_bodyText.scss';
@import '@/assets/scss/_colors.scss';

.mt-top{
    margin-top: $margin50;

    h3{
        text-align: center;
        color: $colorDefaultDark;

        margin-bottom: $margin50;
    }
}
