@import '@/assets/scss/_bodyText.scss';
@import '@/assets/scss/_colors.scss';

.mt-top {
    margin-top: $margin50;

    h3 {
        text-align: center;
        color: $colorDefaultDark;
    }
}

.div-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: $margin50;
}