@import '@/assets/scss/_mixins.scss';
@import '@/assets/scss/_variables.scss';

.mt-top{
    @include margin-top-title-120;
}

.div-main {
    a {
        text-decoration: none;
    }
}

.form-floating {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .size-text-area {
        height: 200px;
    }

    .btn-zap {
        margin-top: 25px;
        margin-bottom: $marginDefault;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.5px;

        img {
            width: 25px;
            height: 25px;

            object-fit: cover;

            margin-right: 8px;
        }
    }
}

.div-button {
    margin-bottom: $marginDefault;
    display: flex;
    justify-content: space-around;

    a {
        width: 150px;
        text-decoration: none;

        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.5px;

        img {
            width: 30px;
            height: 30px;

            object-fit: cover;
        }

        &:hover {
            color: $colorDefaultLight;
        }
    }
}

.div-main-addres {
    -webkit-box-shadow: -2px 2px 9px 1px $colorDefaultDark;
    -moz-box-shadow: -2px 2px 9px 1px $colorDefaultDark;
    box-shadow: -2px 2px 9px 1px $colorDefaultDark;

    border: 2px solid rgba(255, 255, 255, 0.295);
}

.div-addres {
    margin-top: 25px;

    display: flex;
    align-items: center;

    ul {
        list-style: none;

        li {
            font-size: 18px;

            letter-spacing: 0.5px;
            line-height: 45px;

            text-align: justify;

            color: $colorDefaultDark;
        }
    }
}

@media (max-width: 800px) {
    .div-main-addres {
        margin-top: $margin50;
    }

    .mt-top{
        @include margin-top-title-50-800px
    }

    .div-addres {
        ul {
            list-style: none;
    
            li {
                font-size: 17px;

                line-height: 35px;
            }
        }
    }
}