@import '@/assets/scss/_bodyText.scss';

.card-linkedin{
    display: flex;
    justify-content: center;
}

.title{
    font-weight: bold;
    margin-bottom: $marginDefault;
    font-size: 30px;
}

.description{
    font-size: 17.5px;
    text-align: justify;
}