@import '@/assets/scss/_bodyText.scss';

.card-background {
    background-color: $backgroundcolorDefault;
    padding: 25px;
    border-radius: 25px;

    margin-top: 120px;

    .title {
        font-weight: bold;
        margin-bottom: $marginDefault;
        font-size: 30px;
        color: hsla(0,0%,100%,0.9);
    }

    .description {
        font-size: 17.5px;
        text-align: justify;
        color: hsla(0,0%,100%,0.9);
    }
}